<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Информация о пользователе</title>
</head>
<body>
<h2>Информация о пользователе</h2>

<form th:action="@{/adminpage/saveUser}" th:object="${userSave}" method="POST">
  <input type="hidden" th:field="*{id}" />

  <div>
    <label>Имя пользователя:</label>
    <input type="text" th:field="*{username}" />
  </div>

  <div>
    <label>Пароль:</label>
    <input type="password" th:field="*{password}" />
  </div>

  <div>
    <label>Почта:</label>
    <input type="email" th:field="*{email}" />
  </div>


  <div>
    <label>Роли:</label>
    <select name="roles" multiple="multiple">
      <!--/*@thymesVar id="contains" type=""*/-->
      <option th:each="role : ${allRoles}"
              th:value="${role.id}"
              th:text="${role.name}"
              th:selected="${role.getName()}">
      </option>
    </select>
  </div>

  <!-- Добавьте другие поля в соответствии с вашей моделью User -->

  <button type="submit">Сохранить</button>
</form>

<a href="/adminpage">Назад</a>
</body>
</html>