<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Информация о пользователе</title>
</head>
<body>
<h2>Информация о пользователе</h2>

<form th:action="@{/adminpage/saveUser}" th:object="${userSave}" method="POST">
  <input type="hidden" th:field="*{id}" />

  <div>
    <label>Имя пользователя:</label>
    <input type="text" th:field="*{username}" />
  </div>

  <div>
    <label>Пароль:</label>
    <input type="password" th:field="*{password}" />
  </div>

  <div>
    <label>Почта:</label>
    <input type="email" th:field="*{email}" />
  </div>

  <div>
    <label>Роли:</label>
    <select name="roles" multiple="multiple">
      <option th:each="role : ${allRoles}"
              th:value="${role.id}"
              th:text="${role.name}"
              th:selected="${role.getName()}">
      </option>
    </select>
  </div>

  <button type="submit">Сохранить</button>
</form>

<a href="/admin">Назад</a>

<!-- Форма для выхода из системы -->
<form th:action="@{/logout}" method="post" style="margin-top: 20px;">
  <input type="hidden"
         th:name="${_csrf.parameterName}"
         th:value="${_csrf.token}"/>
  <input type="submit" value="Logout"/>
</form>

</body>
</html>